:root {
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 400 calc(1.4rem + 0.4vw) "Bai Jamjuree", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 12.4rem 3.2rem 0;
}

.container--bg-header {
  background-image: url("../images/bg-header-mobile.webp");
  background-repeat: no-repeat;
  background-position: right top;
  background-origin: border-box;
}

.container__title {
  font-weight: 600;
  color: #4c545d;
  margin-top: 6rem;
}

.container__title--heading-one {
  font-size: calc(2.6rem + 1.4vw);
}

.container__title--heading-two {
  font-size: calc(2.2rem + 1.2vw);
}

.container__title--heading-three {
  font-size: 2.4rem;
  margin-top: 4.8rem;
}

.container__paragraph {
  color: #9fabb2;
  line-height: 2.4rem;
  inline-size: 82vw;
  max-inline-size: 70rem;
  margin-top: 2rem;
}

.container__paragraph--small-container {
  max-width: 37.5rem;
  padding-top: 4rem;
}

.container__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.4rem;
  margin-top: 5.2rem;
}

.container__wrapper--no-space {
  gap: 0;
  margin-top: 0;
}

.container__wrapper--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__btn {
  height: 5.6rem;
  width: calc(32rem - 6vw);
  color: #fff;
  font-size: calc(2rem - 0.2vw);
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}

.container__btn--primary {
  background-color: #26baa4;
  border-color: #26baa4;
}

.container__btn--secondary {
  background-color: #6173ff;
  border-color: #6173ff;
}

.container__img {
  width: 84vw;
  max-width: 64rem;
  margin-top: 6rem;
}

@media (min-width: 376px) {
  .container--bg-header {
    background-image: url("../images/bg-header-desktop.webp");
  }
}

@media (min-width: 1440px) {
  .container__img {
    position: relative;
    left: -10vw;
  }
  .container__img--center {
    position: static;
    left: auto;
  }
  .container__img--bigger {
    max-width: 64vw;
  }
  .container__responsive--left-text {
    text-align: left;
  }
}
