:root {
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12.8rem;
}

.container--bg-header {
  background-image: url("../images/bg-header-mobile.webp");
  background-repeat: no-repeat;
  background-position: right;
}

@media (min-width: 376px) {
  .container--bg-header {
    background-image: url("../images/bg-header-desktop.webp");
  }
}
