.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  padding: 12.4rem 3.2rem 0;

  &--bg-header {
    background-image: url("../images/bg-header-mobile.webp");
    background-repeat: no-repeat;
    background-position: right top;
    background-origin: border-box;
  }

  &__title {
    font-weight: 600;
    color: $dark-grayish-blue;

    margin-top: 6rem;
    &--heading-one {
      font-size: calc(2.6rem + 1.4vw);
    }
  }

  &__paragraph {
    color: $grayish-blue;

    line-height: 2.4rem;
    inline-size: 82vw;
    max-inline-size: 70rem;

    margin-top: 2rem;
  }
}
