@media (min-width: 376px) {
  .container {
    &--bg-header {
      background-image: url("../images/bg-header-desktop.webp");
    }
  }
}

@media (min-width: 1440px) {
  .container {
    &__img {
      position: relative;
      left: -10vw;
      &--center {
        position: static;
        left: auto;
      }
      &--bigger {
        max-width: 64vw;
      }
    }
    &__responsive--left-text {
      text-align: left;
    }
  }
}
